{{- define "main" }}
{{- $scratch := newScratch }}
{{- if isset .Params "image" }}
  {{- $scratch.Set "image" .Params.image }}
{{- else }}
  {{ $scratch.Set "image" "thumbnail.svg" }}
{{- end }}
{{- $image := $scratch.Get "image" }}
{{- $bg := (path.Join "images" $image | absLangURL) }}

{{- if .Params.characterId }}
	<section class = 'post_header' style = 'background-image:url({{ $bg }});background-size: contain;'>
		  <h1 class='post_title'>{{ .Title }}</h1>
		</section>
		<div class = 'post'>
		  <article class='post_content'>
		  <p>This character has the role of {{ .Params.role }} and belongs to the house of {{ .Params.house }}.<br> 
		  <br>
		  <br>
			Other details about {{ .Title }}: 
				<ul>
				<li>Date Of Birth: {{ .Params.dateOfBirth }} </li>
				<li>Date of Death: {{- if .Params.DateoFdeath }} {{ .Params.DateoFdeath }} {{- else}} Still alive {{- end }}</li>
				<li>Age: {{ .Params.age}}</li>
				<li>Culture: {{ .Params.culture }}</li>
				</ul>
		  </p>
			{{- .Content }}
			<div class = 'post_extra'>
			  {{- partial "copy" . }}
			</div>
			{{- partial "author" . }}
		  </article>
		  {{- if .Site.Params.Staticman }}
			{{- partial "comments" . }}
		  {{- end }}
		  <aside>
			{{- partial "aside" . }}
		  </aside>
		</div>
{{- else if .Params.battleId }}
		<section class = 'post_header' style = 'background-image:url({{ $bg }});background-size: contain;'>
	  <h1 class='post_title'>{{ .Title }}</h1>
	</section>
	<div class = 'post'>
	  <article class='post_content'>
		{{- .Content }}
		<div class = 'post_extra'>
		  {{- partial "copy" . }}
		</div>
		{{- partial "author" . }}
	  </article>
	  {{- if .Site.Params.Staticman }}
		{{- partial "comments" . }}
	  {{- end }}
	  <aside>
		{{- partial "aside" . }}
	  </aside>
	</div>
{{- else if .Params.houseId }}  
		<section class = 'post_header' style = 'background-image:url({{ $bg }});background-size: contain;'>
	  <h1 class='post_title'>{{ .Title }}</h1>
	</section>
	<div class = 'post'>
	  <article class='post_content'>
		{{- .Content }}
		<div class = 'post_extra'>
		  {{- partial "copy" . }}
		</div>
		{{- partial "author" . }}
	  </article>
	  {{- if .Site.Params.Staticman }}
		{{- partial "comments" . }}
	  {{- end }}
	  <aside>
		{{- partial "aside" . }}
	  </aside>
	</div>	
{{- end }}
<script src = '{{ absURL "js/autosize.min.js" }}'></script>
{{- $timeagoScr := resources.Get "js/timeago.js" | resources.ExecuteAsTemplate "js/timeago.js" . }}
<script src = '{{ $timeagoScr.Permalink }}'></script>
{{- end }}
