{{- partial "intro" . }}
{{- $filteredPosts := .Site.Params.blogDir }}
{{- $pages := .Pages }}

{{- if .IsHome }}
  {{- $pages = .Site.RegularPages }}
  {{- if $filteredPosts }}
    {{- $pages = where $.Site.RegularPages "Section" $filteredPosts }}
  {{- end }}
{{- end }}
{{- $flag := "false" }}

{{- if eq .Params.title "Home"}}	
		{{- partial "home" . }}	
{{- else }}
<ul class='posts wrap' id = 'posts'>  
	{{- if eq .Params.title "Character" }}
	  {{- range (.Paginate $pages).Pages }}
		{{- partial "character" . }}
	  {{- end }}
	{{- end }}  
	{{- if eq .Params.title "Battle" }}  
	  {{- range (.Paginate $pages).Pages }}
		{{- partial "battle" . }}
	  {{- end }}
	{{- end }}  
	{{- if eq .Params.title "House" }}  
	  {{- range (.Paginate $pages).Pages }}
		{{- partial "house" . }}
	  {{- end }}	 
	{{- end }}  
</ul>
{{- end }}

{{- template "_internal/pagination.html" . }}





 